body {
      background-color: teal;
      border: 5px solid black;
    }

    h1 {
      text-align: center;
      color: yellow;
    }

    h2 {
      text-align: left;
      color: yellow;
      font-style: italic;
    }

    h3 {
      text-align: center;
      color: yellow;
    }

    #menu1, #menu2, #menu3, #menu4, #menu5 {
      background-color: yellow;
      margin: 5px 5px;
      padding: 20px;
      text-decoration: underline;
      width: 60px;
      float: left;
    }

    .centered-image {
      display: block;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    .opening-hours {
      text-align: center;
      color: yellow;
    }

    hr {
      border: none;
      border-top: 10px solid yellow;
      width: 100%;
    }

    .column-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .column {
      flex-basis: 23%;
    }

    .float-right {
      margin: 10px;
      clear: both;
    }

    .clear {
      clear: both;
    }

    .paragraph-container {
      margin-top: 20px;
    }

    .paragraph-container::after {
      content: "";
      display: table;
      clear: both;
    }

    .paragraph {
      width: calc(50% - 40px); /* Adjust the width based on your preference */
      margin-right: 40px;
    }

    .paragraph h1 {
      margin-top: 0;
      text-align: left;
    }
    
    .left-float {
      float: left;
      margin-right: 20px;
    }